.keyboard {
  display: flex;
  grid-row: 5 / span 1;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Varela Round', sans-serif;
}

/* .keyboard__middle {
  transform: translate(20px);
} */

.keyboard__row {
  display: flex;
}

.keyboard__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  background: #227c9d;
}

.longbtn {
  width: 70px;
}

.longerbtn {
  width: 90px;
}

.tabbtn {
  width: 100px;
}
.spacebtn {
  width: 500px;
}
.activeBtn {
  background: #ffcb77;
}
