.keyboard {
  display: flex;
  grid-row: 5 / span 1;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Varela Round', sans-serif;
}

.keyboard__row {
  display: flex;
}

.keyboard__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  background: #227c9d;
}

.longbtn {
  width: 70px;
}

.longerbtn {
  width: 90px;
}

.tabbtn {
  width: 100px;
}
.spacebtn {
  width: 500px;
}
.activeBtn {
  background: #ffcb77;
}

.progress-bar {
  position: relative;
  width: 600px;
  height: 3em;
  background-color: #111;
  border-radius: 1.5em;
  color: white;
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 1rem;
  max-width: calc(100% - 3em);
  background-color: #069;
  border-radius: 1em;
  padding: 1em;
}
