.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 500px;
  padding: 1.5rem 2rem;
  background: black;
  color: white;
}

.keyboard {
  display: flex;
  grid-row: 5 / span 1;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Varela Round', sans-serif;
}

.keyboard__row {
  display: flex;
}

.keyboard__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  background: #227c9d;
}

.longbtn {
  width: 70px;
}

.longerbtn {
  width: 90px;
}

.tabbtn {
  width: 100px;
}
.spacebtn {
  width: 500px;
}
.activeBtn {
  background: #ffcb77;
}

.progress-bar {
  position: relative;
  width: 50vw;
  height: 3rem;
  background-color: #111;
  border-radius: 1.5rem;
  color: white;
}

.progress-bar::before {
  content: '';
  display: flex;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  width: calc(var(--width, 0) * 1%);
  min-width: 0rem;
  max-width: calc(100% - 1rem);
  background-color: white;
  border-radius: 1.5rem;
}
